Checks: [
    'clang-analyzer-*',
    'cppcoreguidelines-*',
    '-cppcoreguidelines-avoid-magic-numbers',
    '-cppcoreguidelines-avoid-non-const-global-variables',
    '-cppcoreguidelines-pro-type-reinterpret-cast',
    '-cppcoreguidelines-pro-type-vararg',
    '-cppcoreguidelines-owning-memory',
    '-cppcoreguidelines-macro-usage',
    'modernize-*',
    '-modernize-use-trailing-return-type',
    'readability-*',
    '-readability-magic-numbers',
    '-readability-uppercase-literal-suffix',
    '-readability-identifier-length',
    'bugprone-*',
    '-bugprone-easily-swappable-parameters',
    '-bugprone-macro-parentheses',
    'performance-*',
]
